<h1>Log In</h1>
<form action="<%= session_url %>" method="post">
<input type="hidden"
 name="authenticity_token"
 value="<%= form_authenticity_token %>">

<label for="user_name">User name</label>
<input id="user_name" type="text" name="user_name" value="<%= params[:user_name] %>">

<br>
<label for="password">Password</label>
<input id="password" type="password" name="password">

<br>
<button>Log In</button>
</form>
<a href="<%= new_user_url %>"><button>Sign Up</button></a>
