<p>
  <%= user.errors.full_messages %>
</p>
<% action = user.persisted? ? user_url(user) : users_url %>
<% method = user.persisted? ? "patch" : "post" %>
<% message = (user.persisted? ? "Update user" : "Create user") %>
<form action="<%= action %>" method="post">
<input type="hidden" name="_method" value="<%= method %>">
<input type="hidden"
         name="authenticity_token"
         value="<%= form_authenticity_token %>">
<label for="user_name">User name</label>
<input id="user_name" type="text" name="user[user_name]" value="<%= user.user_name %>">
<br>
<label for="password">Password</label>
<input id="password" type="password" name="user[password]">
<br>
<button><%= message %></button>
</form>
