<form action="<%= session_url %>" method="post">
<input type="hidden" name="_method" value="delete">
<input type="hidden"
       name="authenticity_token"
       value="<%= form_authenticity_token %>">
  <button>Log Out</button>
</form>
