<h1>New Rental</h1>
<p>
  <%= @request.errors.full_messages %>
</p>

<% action = @request.persisted? ? cat_rental_request_url(@request) : cat_rental_requests_url(params[:id]) %>
<form action="<%= action %>" method="post">
  <% if @request.persisted? %>
    <input type="hidden" name="_method" value="patch">
  <% end %>
  <input type="hidden"
         name="authenticity_token"
         value="<%= form_authenticity_token %>">
  <label for="cat_select">Choose a cat</label>
  <select id="cat_select" name="request[cat_id]">
    <option></option>
    <% Cat.all.each do |cat| %>
    <option value="<%= cat.id %>" <%= "selected" if @request.cat_id == cat.id %> >
      <%= cat.name %>
    </option>
    <% end %>
  </select>
  <br>

  <label for="request_start_date">Rental Start Date</label>
  <input type="date" id="request_start_date" name="request[start_date]"
    value="<%= @request.start_date %>">
  <br>

  <label for="request_end_date">Rental End Date</label>
  <input type="date" id="request_end_date" name="request[end_date]"
    value="<%= @request.end_date %>">
  <br>
  <button>Submit</button>
</form>
