<p>
  <%= @cat.errors.full_messages %>
</p>
<% action = @cat.persisted? ? cat_url(@cat) : cats_url %>
<form action="<%= action %>" method="post">
  <% if @cat.persisted? %>
    <input type="hidden" name="_method" value="patch">
  <% end %>
  <input type="hidden"
         name="authenticity_token"
         value="<%= form_authenticity_token %>">
  <label for="cat_name">Cat name:</label>
  <input id="cat_name" type="text" name="cat[name]" value="<%= @cat.name %>">
  <br>

  Cat sex:
  <br>
  <input id="cat_sex_female" type="radio" name="cat[sex]" value="F"
    <%= "checked" if @cat.sex == "F" %> >
  <label for="cat_sex_female">Female</label>
  <br>
  <input type="radio" name="cat[sex]" id="cat_sex_male" value="M"
    <%= "checked" if @cat.sex == "M" %> >
  <label for="cat_sex_male">Male</label>
  <br>

  <label for="cat_color">Cat Color</label>
  <select id="cat_color" name="cat[color]">
    <option></option>
    <% @cat.class::CAT_COLORS.each do |color| %>
    <option value="<%= color %>" <%= "selected" if @cat.color == color %> >
      <%= color %>
    </option>
    <% end %>
  </select>
  <br>

  <label for="cat_birth_date">Cat Birthdate</label>
  <input type="date" id="cat_birth_date" name="cat[birth_date]" value="<%= @cat.birth_date %>">
  <br>

  <label for="cat_description">Cat Description</label>
  <textarea id="cat_description" name="cat[description]"><%= @cat.description %></textarea>
  <br>

  <button>Submit</button>
</form>
