<tr>
  <td><%= req.start_date %></td>
  <td><%= req.end_date %></td>
  <td>
    <% if req.pending? %>
      <% if req.cat.user_id == current_user.id %>
        <%= button_to "Approve", approve_cat_rental_request_url(req) %>
        <%= button_to "Deny", deny_cat_rental_request_url(req) %>
      <% else %>
        <%= req.status %>
      <% end %>
    <% else %>
      <%= req.status %>
    <% end %>
  </td>

  <td>
    <% requestor = User.find(req.user_id) %>
    <%= requestor.user_name.capitalize %>
  </td>


</tr>
