<h1><%= @cat.name.capitalize %></h1>

<table>
  <th>Attributes: </th>
  <tr>
    <td>Color: </td><td><%= @cat.color.capitalize  %></td>
  </tr>
  <tr>
    <td>Sex:  </td><td><%= @cat.sex %></td>
  </tr>
  <tr>
    <% @cat.birth_date == nil ? age = "unknown" : age = @cat.age.to_s + " years old" %>
    <td>Age:  </td><td><%= age %></td>
  </tr>
</table>
<br>
<strong>Description:</strong>
<br>
<p><%= @cat.description %></p>
<br>
<%= link_to "Edit #{@cat.name}", edit_cat_url(@cat) %>

<h2>Rental Requests</h2>
<table>
  <tr>
    <th>Start Date</th>
    <th>End Date</th>
    <th>Status</th>
    <th>Requestor</th>
  </tr>
  <% @cat.cat_rental_requests.order("start_date").each do |req| %>
    <%= render "req_tr", req: req %>
  <% end %>
</table>
