<!DOCTYPE html>
<html>
<head>
  <title>Cats99</title>
</head>
<body>
  <%= current_user.nil? ? "Please log in" : current_user.user_name.capitalize %>
  <br>
  <%= render "shared/log_out_button" unless current_user.nil? %>
<%= flash[:error] %>
<%= flash[:notice] %>

<%= yield %>


</body>
</html>
